STORAGE_DATABASE_URL="postgresql://draftiq:draftiq@localhost:5432/draftiq?schema=public"
FANTASY_API_KEY=""
FANTASYPROS_API_KEY=""
FANTASYPROS_API_URL="https://api.fantasypros.com/public/v2/json/nfl/2026/projections"
FFC_API_URL="https://fantasyfootballcalculator.com/api/v1/adp"
ODDS_API_KEY=""
SESSION_SECRET="replace-with-at-least-32-random-characters"
DEMO_MODE="false"
SLEEPER_POLL_INTERVAL_MS="5000"
SPORTS_GAME_ODDS_API_KEY=""
SPORTS_GAME_ODDS_API_URL="https://api.sportsgameodds.com/v2/events/"
ODDS_PROVIDER="SPORTS_GAME_ODDS"
YAHOO_CLIENT_ID=""
YAHOO_CLIENT_SECRET=""
YAHOO_REDIRECT_URI="http://localhost:3000/api/yahoo/callback"
